@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import "tailwindcss";


body {
  font-family: 'Inter', sans-serif;
  color: black;
  background-color: white;
  
}

@layer utilities {
  .font-georgia {
    font-family: 'Merriweather', serif;
  }

    .input-box {
      @apply w-full rounded-md py-4
      
      bg-gray-100 border border-gray-200 text-black placeholder:text-gray-500 focus:bg-white focus:border-blue-500 outline-none transition-all duration-300;
    }
  
    
    .input-icon {
      @apply absolute top-1/2 -translate-y-1/2 text-gray-500;
    }

  .btn-dark {
    @apply bg-black text-white w-full rounded-full p-3 font-medium hover:bg-gray-800 transition-all duration-300;
  }

  
  .btn-secondary {
    @apply bg-gray-100 text-black w-[90%] mx-auto rounded-full p-3 font-medium border border-gray-200 hover:bg-gray-200 transition-all duration-300;
  }
}